{% extends "base.html" %} 

{% block title %} {{ dashboard.title }} {% endblock title %}

{% block content %}

<div class="row row-cols-2 justify-content-md-center">
    <div class = "col mb-4">
        <div class = "card h-100">
            <div class="card-body text-left">
                <h6>Створено: {{ dashboard.created_at }}</h6>
                <h6>{{ dashboard.created_by }}</h6>
                <h2>{{ dashboard.title }}</h2>
                <p class="card-text text-muted">{{ dashboard.description }}</p>
            </div>
        </div> 
    </div>
</div>

{% endblock %}