{% extends "base.html" %} 

{% block title %} Мої Дошки {% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row row-cols-2 justify-content-md-center">
        {% for dashboard in dashboards %}
        <div class = "col mb-4">
            <div class = "card h-100">
                <div class="card-body text-left">
                    <h6>Створено: {{ dashboard.created_at }}</h6>
                    <h6>{{ dashboard.created_by }}</h6>
                    <h2>{{ dashboard.title }}</h2>
                    <p class="card-text">{{ dashboard.description }}</p>
                </div>
            </div> 
        </div>
        {% empty %}
        <p>Наразі немає жодних дошок</p>
        {% endfor %}  
    </div>
    <a href="{% url 'dashboard_create' %}" class="btn btn-primary">Створити дошку</a>
    <a href="{% url 'dashboard_create' %}" class="btn btn-primary">Створити список завдань</a>
    <a href="{% url 'dashboard_create' %}" class="btn btn-primary">Створити завдання</a>
    <a href="{% url 'dashboard_create' %}" class="btn btn-primary">Список завдань</a>
    <a href="{% url 'dashboard_create' %}" class="btn btn-primary">Список Дошок</a>
</div>
{% endblock %}