{% extends "base.html" %} 

{% block title %} Створення завдання {% endblock title %}

{% block content %}
 
  <a href="{% url 'task_list' dashboard_pk=dashboard.pk todolist_pk=todolist.pk  %}" class="btn btn-secondary mb-3">Назад</a>
    <div class="card">
      <div class="card-body">
        <h5>Створити Завдання: {{ task.title }} </h5>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary" id="submit-btn" href="{% url 'task_list' dashboard_pk=dashboard.pk todolist_pk=todolist.pk  %}">Створити</button>
        </form>
      </div>
    </div>
{% endblock %}
