{% extends "base.html" %} 

{% block title %} Всі нотатки {% endblock title %}

{% block content %}

<div class="row row-cols-2 justify-content-md-center">
    <div class = "col mb-4">
        <div class = "card h-100">
            <div class="card-body text-left">
                <h2><a class="card-title" href="{% url 'note_detail' note.pk %}" style="text-decoration: none;">{{ note.title }}</a></h2>
                <p class="card-text">{{ note.content }}</p>
            </div>
        </div> 
    </div>
</div>

{% endblock %}