{% extends "base.html" %} 

{% block title %} Реєстрація {% endblock title %}

{% block content %}

  <div class="container full-height d-flex justify-content-center align-items-center", style = "height: 100vh;">
    <div class="w-50 border p-2 rounded shadow-sm">
      <h2 class="mb-2 text-center">Реєстрація</h2>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Зареєструватись</button>
      </form>
  
    </div>
  </div>

{% endblock %}