{% extends "base.html" %} 

{% block title %} Редагування списка завдань {% endblock title %}

{% block content %}
  <a href="{% url 'todolist_list' dashboard_pk=dashboard.pk %}" class="btn btn-secondary mb-3">Назад</a>
    <div class="card">
      <div class="card-body">
        <h5>Редагувати список завдань: {{ todolist.title }} </h5>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <a type="submit" class="btn btn-primary" id="submit-btn" href="{% url 'todolist_detail' dashboard_pk=dashboard.pk todolist_pk=todolist.pk  %}">Підтвердити</a>
        </form>
{% endblock %}
