{% extends "base.html" %} 

{% block title %} {{ todolist.title }} {% endblock title %}

{% block content %}

<div class="row row-cols-2 justify-content-md-center">
    <div class = "col mb-4">
        <div class = "card h-100">
            <div class="card-body text-left">
                
                <h3>{{ todolist.dashboard }}</h3>
                <h6>{{ todolist.created_at }}</h6>
                <h6>{{ todolist.created_by }}</h6>
                <h2>{{ todolist.title }}</h2>
                <p class="card-text">{{ todolist.description }}</p>
            </div>
        </div> 
    </div>
</div>

{% endblock %}