{% extends "base.html" %} 

{% block title %} Створення списка завдань {% endblock title %}

{% block content %}
<a href="{% url 'todolist_list' dashboard_pk=dashboard.pk %}" class="btn btn-secondary mb-3">Назад</a>
  <div class="card">
    <div class="card-body">
      <h5>Створити список завдань</h5>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" id="submit-btn" href="{% url "dashboard_detail" dashboard_pk=dashboard.pk %}">Створити</button>
      </form>
{% endblock %}
